h1 {
    display: block;
    font-family: montserrat;
    font-size: 45px;
    font-weight:500;
    text-align: center;
    text-transform: capitalize;
}

h2{
    color: rgb(68,68,68);
    display: block;
    font-family: montserrat;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
}

h3 {
    color: rgb(68,68,68);
    font-family: montserrat;
    font-size: 20px;
    font-weight:500;
    margin: 0px;
    text-transform: capitalize;
}

p{
    color: rgb(75, 75, 75);
    font-family: open sans;
    font-weight: normal;
    font-size: 16px;
    text-transform: capitalize;
}

text {
    color: rgb(151, 151, 151);
    font-family: open sans;
    font-weight: 500;
    font-size: 12px;
    text-transform: capitalize;
}

hr {
    align-items: center;
    background-color: rgb(255, 108, 48);
    border: none;
    height: 3px;
    width: 60px;
}

img {
    object-fit: cover;
    opacity: 0.7;
 }


/* Slideshow container */
.slideshow-container {
    margin: auto;
    position: relative;
    width: 100%;
}
  
/* Next & previous buttons */
.prev, .next {
    border-radius: 0 3px 3px 0;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    padding: 16px;
    position: absolute;
    top: 50%;
    transition: 0.6s ease;
    margin-top: -22px;
    user-select: none;
    width: auto;
  }
  
/* Position the "next button" to the right */
.next {
    border-radius: 3px 0 0 3px;
    right: 50px;
}

.prev {
    left: 50px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    -o-animationion-name: fade;
    -o-animation-duration: 1.5s;
    -moz-animation-name: fade;
    -moz-animation-duration: 1.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
}

/* header-banner-container */
#header-banner{
    background: rgb(0, 0, 0);
    display: block;
    height: 900px;
    overflow:hidden;
}

/* banner-title */
#banner-title {
    color:rgb(255, 255, 255);
    left: 50%;
    position: absolute;
    text-shadow: 1px 1px rgba(0,0,0,0.2);
    top: 50%;    
    transform: translate(-50%, -70%);
    -o-transform: translate(-50%, -70%);
    -moz-transform: translate(-50%, -70%);
    -webkit-transform: translate(-50%, -70%);
}

#banner-title .banner-h3{
    color:rgb(255, 255, 255);
    text-align: center;
}

#banner-title hr{
    left: 50%;
    position:absolute;
    top: 62%;    
    transform: translate(-40%, -40%);
    -o-transform: translate(-40%, -40%);
    -moz-transform: translate(-40%, -40%);
    -webkit-transform: translate(-40%, -40%);
}

/* search tour */
#travel-search {
    color: rgb(0,0,0);
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    left: 50%;
    position: absolute;
    padding: 20px;
    top: 80%;
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.input-title{
    display: inline-block;
    padding: 18px 0px;
}

.form-group {
    display: inline-block;
    justify-content: center;   
    height: 40px;
    margin-left: 10px;
    width: 200px;
}

.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    color: #888;
    display: block;
    height: 34px;
    line-height: 1.42857143;
    padding: 6px 12px;
    font-size: 14px;
    text-transform:capitalize;
    width: 100%;
}

/* price range slider for travel search */
.slidecontainer {
    width: 100%;
}

/* slider  for sliding ranges in price/rate for travel search */
.slider {
    background: #d3d3d3;
    height: 15px;
    opacity: 0.7;
    outline: none;
    transition: opacity .2s;
    width: 100%;
    -moz-appearance: none;
    -moz-transition: .2s;
    -o-appearance: none;
    -o-transition: .2s;
    -webkit-appearance: none;
    -webkit-transition: .2s;
}

.slider:hover {
    opacity: 1;
}

/* button */
#button {
    font-family: open sans;
    font-size: 16px;
    margin-left: 16px;
    text-transform: capitalize;
}

#button i {
    margin-left: 6px;
}

/* button bottom layer */
.pushable {
    background-color: rgb(224, 95, 36);
    border: none;
    border-radius: 12px;
    box-shadow: -4px -4px 8px rgb(rgb(224, 95, 36));
    cursor: pointer;
    outline-offset: 4px;
    padding: 0;
}
/* button top layer */
.front {
    background-color:rgb(255, 108, 48);
    border: 1px rgb(235, 220, 214);
    border-radius: 12px;
    box-shadow: 4px 4px 8px rgb(198, 195, 189);
    color: white;
    display: block;
    padding: 12px 30px;
    transform: translate(2px, 2px);
    -moz-transform: translate(2px, 2px);
    -o-transform: translate(2px, 2px);
    -webkit-transform: translate(2px, 2px);
}

/* button style on action */
.front {
transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.pushable:hover .front {
transform: translate(4px, 4px);
transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .front {
    box-shadow: none;
    transform: translate(-1px, -1px);
}

/*  the dots/bullets/indicators */
.dotted-slider{
    text-align:center; 
    transform: translate(0%, -400%);
    width: 100%;
}
  
/* The dots/bullets/indicators */
.dot {
    background-color: rgb(228,217, 217);
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin: 0 2px;
    transition: background-color 0.6s ease;
    width: 10px;
}

/* color change on hover on dot */
.active, .dot:hover {
    background-color: rgb(255, 108, 48);    
}

/* popular destination */
#container {
    background: rgb(249, 249, 249);
    display: block;
    height: auto;
    padding: 100px;
    place-content: center;
}

.heading{
    place-content: center;
}

.heading hr{
    margin-top: 11px;
}

.heading p {
    text-align: center;
    margin-top: 11px;
}

.row {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat( auto-fit, 350px);
    margin-top: 50px;
    place-content: center;
    width: 100%;
}

.column {
    background: rgb(255, 255, 255);
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card {
    background: rgb(0, 0, 0);
    border-radius: 7px;
    text-align: center;
    overflow: hidden;
}

.card i{ 
    border-radius: 20px;
    background-color: rgb(255, 108, 48);
    height: 20px;
    width: 20px; 
    opacity: 0;
    padding: 10px;        
    place-content: center;
    position: absolute;
    transform: translate(-200px, 0px);
}

.card p{
    color:rgb(255, 255, 255);
    font-weight:450;
    position: absolute;
    text-shadow:1px 1px rgba(0, 0, 0, 0.411);
    transform: translate(40px, -60px);
}

.card:hover {
    background:linear-gradient(rgba(255, 107, 48, 0.623), rgb(0,0,0));
}

.card:hover i {
    animation-direction: normal;
    animation-duration: 0.5s;
    animation-name: visibility;
    opacity:1;
    place-content: center;
    transform: translate(-200px, 80px);
}

.card span{
    font-weight: normal;
    margin-left: 15px;
}

#container-grey {
    display: block;
    height: auto;
    padding: 100px;
    place-content: center;
}

#container-grey .heading{
    text-align: center;
}

/*  ratings */
.star span{
    margin-left: 5px;
}

/* ratings checked */
.checked{
    color: rgb(255, 238, 0);
}

.column .content {
    float: left;
    margin: 20px;
}

.content p {
    text-align: justify;
}

.icon{
    color: rgb(255, 108, 48);
    display: grid;
    font-size: 40px;
    gap: 20px;
    grid-template-columns: auto auto auto auto;
    position: relative;
    place-content: center;
}

.content .icon :after {
    background-color: rgb(221, 221, 221);
    bottom: -10px;
    content: "";
    display: block;
    height: 0.5px;
    left: 0;
    position: absolute;
    opacity: 1;
    width: 100%;
}

/* price rate per-person with button " book now" */
.button-wrap {
    display: flex;
    margin-top: 10px;
    position: relative;
}

/* price rate for popular packages */
.button-wrap #price{
    color: rgb(255, 108, 48);
    display: inline-block;
    font-weight: 500;
    margin-top: 10px;
}

/* color change in per person */
.button-wrap .per-person {
    color: rgb(172, 172, 172);
    font-weight: normal;
}

.button-wrap #button {
    display: inline-block;
    position: absolute;
    transform: translate(59px,-50px);
}

/* button bottom layer for book now */
.content .pushable {
    border-radius: 20px;
}
/* button top layer for book now */
.content .front {
    border-radius: 20px;
    padding: 6px 20px;
}


/*  popular destination's button more places */
#container #button, #container-grey #button {
    margin-left: 43%;
    margin-top: 60px;
}




/* banner image along with button all packages */
.banner{
    background:rgb(0, 0, 0);
    /* height: 350px; */
}

.banner .title{
    color: rgb(255, 255, 255);
    float: left;
    font-weight: 1000;
    margin-left: 20%;
    transform: translateY(-320%);
}


.banner h3{
    color: rgb(255, 255, 255);
    float: left;
    transform: translate(-120%,-450%);
}

.banner #button {
    float: right;
    margin-right: 20%;
    /* transform: translate(450%, -400%); */
    transform: translateY(-400%);
}

.banner-card{
    background:rgb(0, 0, 0);
    height: 350px;
}

.banner-card h2{
    color: rgb(255, 255, 255);
    transform: translateY(-550%);
}

.banner-card .icon {
    color:rgb(172, 172, 172);
    display:grid;
    font-size: 60px;
    gap: 30px;
    grid-template-columns: auto auto auto auto auto;
    place-content: center;
    transform: translateY(-450%);
}



/* banner image along with button all packages ends here*/


/*  section About Us starts here  */

.container-about {
    display: block;
    margin-top: 50px;
    place-content: center;
}

.sub-heading {
    text-align: center;
}

.container-about .story {
    background: rgb(255, 255, 255);
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    margin-top: 30px;
    padding: 25px;
    place-content: center;
    position: relative;
}

.container-about .row {
    margin-top: 30px;
}

.container-about img{
    border-radius: 20px;
    display: inline-block;
    opacity: 1;
}

.container-about .icon{
    margin-top: 20px;
    place-content: center;
}

.container-about .paragraph {
    margin-left: 20px;
    margin-top: -20px;
}

.container-about .button-wrap {
    transform: translate(-370px, 0px);
}

.container-about .partner-row{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat( auto-fit, 200px);
    margin-top: 30px;
    place-content: center;
    width: 100%;
}

.partner-row img{
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}

.partner-row p {
    margin-top: 20px;
    font-weight: 500;
}

.partner-row img {
    place-content: center;
}

/*  section about us ends here  */


/*  banner subsrcibe css starts here */

.banner-subscribe {
    background: rgb(0,0,0);
    height: 350px;
}

.banner-subscribe .subscribe-content {
    display: flex;
}

.banner-subscribe .title{
    color: rgb(255, 255, 255);
    display: inline-block;
    width: 700px;
    transform: translateY(-200%);
}

.subscribe-content #subtitle{
    color: rgb(255, 255, 255); 
    word-wrap: break-word;
    /* width: 200px; */
    margin-left: 100px;
    text-align: left;

}

.subscribe-content form {
    display: inline-block;
    /* margin-right: 100px; */
    transform: translate(70%, -100%);
}

/*  banner-subscribe css ends here  */

/* testimonial */

.testimonial img{
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    opacity: 1;
    place-content: center;
}

.testimonial .star {
    display: grid;
    gap: 5px;
    grid-template-columns: auto auto auto auto auto;
    margin-top: 10px;
    place-content: center;
}

.testimonial span{
    color: black;
}

.testimonial .checked{
    color:rgb(255, 238, 0);
}

.testimonial #left-quote {
    color: rgb(224, 224, 224);
    float: left;
    font-size: 20px;
    margin-right: 10px;
}
.testimonial #right-quote {
    color: rgb(224, 224, 224);
    float: right;
    font-size: 20px;
}
/* testimonial ends here */

/*  blog starts here */
.content-blog img{
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    opacity: 1;
}

.content-blog .icon{
    /* color: rgb(151, 151, 151) */
    display:block;
    margin-top: 5px;
    line-height: 30px;
}

.content-blog .icon :after {
    background-color: rgb(221, 221, 221);
    bottom: 2px;
    content: "";
    display: block;
    height: 0.5px;
    left: 0;
    opacity: 1;
    position: absolute;
    width: 100%;
}

.content-blog a{
    color:royalblue;
    text-decoration: none;
}

.content-blog a:hover{
    text-decoration: underline;
}

.content-blog .comment{
    float: right;
}


/*Price range Design CSS Starts*/


section.range-slider {
    float: left;
    position: relative;
    /* text-align: center; */ 
    width: 100%;
}
section.range-slider input[type="range"] {
    background: rgba(0,0,0,0.05);
    border: none;
    border-radius: 14px;
    height: 20px;
    left: 0;
    margin: 0;
    outline: none;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 25px;
    width: 100%;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: red;
}
section.range-slider input[type="range"]::-webkit-slider-thumb {
    border: none;
    border-radius: 14px;
    height: 20px;
    outline: 0;
    pointer-events: all;
    position: relative;
    width: 20px;
    -webkit-appearance: none;
    z-index: 1;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dad8da), color-stop(100%, #413f41));
    /* android <= 2.2 */
    background-image: -webkit-linear-gradient(top, #dad8da 0, #413f41 100%);
    /* older mobile safari and android > 2.2 */
    background-image: linear-gradient(to bottom, #dad8da 0, #413f41 100%);
    /* W3C */
}
section.range-slider input[type="range"]::-moz-range-thumb {
    border: none;
    border-radius: 14px;
    height: 20px;
    pointer-events: all;
    position: relative;
    width: 20px;
    -moz-appearance: none;
    z-index: 10;
    background-image: linear-gradient(to bottom, #dad8da 0, #413f41 100%);
    /* W3C */
}
section.range-slider input[type="range"]::-ms-thumb {
    border-radius: 14px;
    border: 0;
    height: 20px;
    pointer-events: all;
    position: relative;
    -ms-appearance: none;
    width: 20px;
    z-index: 10;
    background-image: linear-gradient(to bottom, #dad8da 0, #413f41 100%);
    /* W3C */
}
section.range-slider input[type=range]::-moz-range-track {
    background-color: rgba(0, 0, 0, 1);
    border: 0;
    position: relative;
    z-index: -1;
}
section.range-slider input[type=range]:last-of-type::-moz-range-track {
    background: none transparent;
    border: 0;
    -moz-appearance: none;
}
section.range-slider input[type=range]::-moz-focus-outer {
    border: 0;
}



/*Price range Design CSS ends*/


/* header banner slide show */
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes visibility{
    from {transform: translate(-200px, 0px); opacity: 0.3}
    to {transform: translate(-200px, 80px); opacity: 1}
}
    
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next {font-size: 11px}
}
